html, body {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.block {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-size: 98px;
}

.X {
    color: rgb(240, 90, 90);
}

.O {
    color: #2323ff;
}